.category {
	a.category-button {
		display: block;
		background: $gray-100;
		padding: 1rem;
		border-radius: $border-radius;
		font-family: $font-family-heading;
		font-size: 1.25rem;
		border: 3px $gray-300 solid;
		transition: 0.25s ease-in-out;
	
		&:hover {
			background: $gray-200;
			border: 3px $gray-500 solid;
			text-decoration: none;
			transform: translateY(-2px);
			box-shadow: $raised-shadow;
		}

		&.router-link-active {
			background: red;
		}
	}

	&-sostenibilitat {
		a.category-button {
			border-color: lighten($green, 20%);
			background: lighten($green, 45%);
			color: $green;

			&:hover {
				border-color: $green;
				background: lighten($green, 30%);
				color: darken($green, 10%);
			}

			&.router-link-active {
				background: $green;
				color: $white;
				border-color: $green;
			}
		}
		
		.band {
			background: $green;
			background: $green-gradient;
		}
	}
}
