.category {
	a.category-button {
		display: block;
		background: $gray-100;
		padding: 1rem;
		border-radius: $border-radius;
		font-family: $font-family-heading;
		font-size: 1.25rem;
		color: $gray-600;
		border: 3px $gray-300 solid;
		transition: 0.25s ease-in-out;
	
		&:hover {
			background: $gray-200;
			border-color: $gray-500;
			text-decoration: none;
			transform: translateY(-2px);
			box-shadow: $raised-shadow;
		}

		&.router-link-active {
			background: $gray-600;
			border-color: $gray-600;
			color: $white;

			&:hover {
				transform: translateY(0);
				box-shadow: none;
			}
		}
	}
}

@each $category, $color in $categories {
	.category-#{$category} {
		a.category-button {
			border-color: lighten($color, 20%);
			background: lighten($color, 45%);
			color: $color;

			&:hover {
				border-color: $color;
				background: lighten($color, 30%);
				color: darken($color, 10%);
			}

			&.router-link-active {
				background: $color;
				color: $white;
				border-color: $color;
			}
		}
	}
	
	.page-#{$category} {
		.band {
			background: $color;
		}
	}	
}

.subcategories {
	ul {
		margin: 0 -1rem -1rem;
		padding: 0;
		list-style: none;
		display: flex;
		flex-direction: column;
	}

	li {
		padding: 0.5rem;
	}
}

.siblings {
	margin-bottom: 1rem;

	a.category-button {
		padding: 0.5rem 1rem;
		font-size: 1rem;
		border-width: 2px;
	}
}

@include media-breakpoint-up(lg) {
	.subcategories {
		ul {
			margin: 0;
			display: flex;
			flex-direction: row;
		}

		li {
			margin: 0 0.5rem;
			padding: 0;

			&:first-child {
				margin-left: 0;
			}
		}
	}
}