.category {
	a.category-button {
		display: block;
		background: $gray-100;
		padding: 1rem;
		border-radius: $border-radius;
		font-family: $font-family-heading;
		font-size: 1.25rem;
		color: $gray-600;
		border: 3px $gray-300 solid;
		transition: 0.25s ease-in-out;
	
		&:hover {
			background: $gray-200;
			border: 3px $gray-500 solid;
			text-decoration: none;
			transform: translateY(-2px);
			box-shadow: $raised-shadow;
		}

		&.router-link-active {
			background: $gray-600;
			border-color: $gray-600;
			color: $white;
		}
	}
}

@each $category, $color in $categories {
	.category-#{$category} {
		a.category-button {
			border-color: lighten($color, 20%);
			background: lighten($color, 45%);
			color: $color;

			&:hover {
				border-color: $color;
				background: lighten($color, 30%);
				color: darken($color, 10%);
			}

			&.router-link-active {
				background: $color;
				color: $white;
				border-color: $color;
			}
		}
		
		.band {
			background: $color;
		}
	}	
}
