$colors: (
  'green': (
    '100': #C7D396,
    '200': #A7BD61,
    '300': #4D804C,
    '400': #375937,
    '500': #2E482D,
	),
	'red': (
    '100': #EAAFA9,
    '200': #DD938E,
    '300': #E05633,
    '400': #B93526,
    '500': #93211E,
	),
	'blue': (
    '100': #A7CFE1,
    '200': #5AB9D2,
    '300': #147FBC,
    '400': #12688F,
    '500': #0D5067,
	),
	'orange': (
    '100': #ECBE9D,
    '200': #EABE96,
    '300': #DE7326,
    '400': #B55A27,
    '500': #893D1E,
	),
	'purple': (
    '100': #A8A6D3,
    '200': #9B9BC8,
    '300': #5C59A6,
    '400': #30337B,
    '500': #2C2D66,
	)
);

@function colors($color-name, $color-variant: '300') {
  $color: map-get(map-get($colors, $color-name), $color-variant);
  @if $color {
    @return $color;
  } @else {
    @warn "=> ERROR: COLOR NOT FOUND ($color-name).";
  }
}