.frontpage {
	.nav-menu {
		position: static;
		width: auto;
		height: auto;
		margin: 1.5rem;
		margin-top: $header-height + 40px;
		border-radius: $rounder-border-radius;
		overflow-x: hidden;

		.menu {
			position: static;
			width: 100%;
			padding-top: 0;
	
			ul {
				height: auto;
				flex-direction: column;
				margin: 0.5rem;
			}

			li {
				width: 100%;
				margin: 0;
				padding: 0.5rem;
			}

			a {
				margin: 0;
				width: 100%;
			}
		}	
	}

	.content {
		position: static;
	}

	.brand-share {
		left: 0;
	}
}

@include media-breakpoint-up(lg) {
	.frontpage {
		.nav-menu {
			display: flex;
			width: 100%;
			max-width: 900px;
			margin: $header-height + 100px auto 0 auto;
			
			.menu {
				overflow-y:hidden;

				ul {
					flex-direction: row;
					flex-wrap: wrap;
				}

				li {
					width: 33.333%;
				}
			}

			.header {
				width: 300px;
				background-color: $gray-100;

				.site-name {
					background-size: 100%;
					background-position: center 2rem;
				}
			}
		}

		.map {
			left: 0;
		}
	}
}