.frontpage {
	.sidebar {
		position: static;
		width: auto;
		height: auto;
		margin: 1.5rem;
		margin-top: $top-nav-height-mobile + 40px;
		border-radius: $rounder-border-radius;
		overflow-x: hidden;

		.menu {
			position: static;
			width: 100%;
			padding-top: 0;
			border-top: 0;
	
			ul {
				height: auto;
				flex-direction: column;
				margin: 0.5rem;
			}

			li {
				width: 100%;
				margin: 0;
				padding: 0.5rem;
			}

			a {
				margin: 0;
				width: 100%;
			}

			.secondary-logo {
				background-image: url('images/logo.svg');
				background-repeat: no-repeat;
				background-position: center;
				background-size: 200px;
				width: 100%;
				height: 300px;
			}
		}	
	}

	.content {
		position: static;
	}

	.brand-share {
		left: 0;
	}
}

@include media-breakpoint-up(lg) {
	.frontpage {
		.sidebar {
			display: flex;
			width: 100%;
			max-width: 1000px;
			margin: $top-nav-height-mobile + 100px auto 0 auto;
			
			.menu {
				overflow-y:hidden;

				ul {
					flex-direction: row;
					flex-wrap: wrap;
				}

				li {
					width: 50%;

					&:last-child {
						padding-right: 0.5rem;
					}
				}
			}

			.category-button {
				padding: 1rem;
			}
		}

		.top-nav {
			position: static;
			width: 250px;
			height: auto;
			flex-shrink: 0;
			background-color: $gray-100;
			border-right: 1px $gray-200 solid;

			.site-name {
				background-size: 110%;
				background-position: center 1rem;
				height: 420px;
			}
		}

		.map {
			left: 0;
		}
	}
}