html, body { 
  height: 100%;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-family-heading;
}

.content {
  position: relative;
  z-index: 1;
  margin-top: $top-nav-height-mobile + 40px;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: $nav-height-mobile + 80px;

  .container {
    background: $white;
    padding: 1.5rem;
    transition: margin 700ms;
    box-shadow: $default-shadow;
    border-radius: $border-radius;
    overflow: hidden;
  } 
}

.admin-bar {
  .top-nav {
    top: $wp-admin-nav-height-mobile;
  }
}

@include media-breakpoint-up(lg) {
  .map {
    left: $nav-width-desktop;
  }

  .content {
    margin-top: $top-nav-height-mobile + 80px;
    margin-left: $nav-width-desktop + 80px;
    margin-right: 80px;
    margin-bottom: 80px;

    .container {
      max-width: 900px;
      margin-left: auto;
      margin-right: auto;
      padding: 1.5rem 2rem;
    }
  }

  .admin-bar {
    .sidebar,
    .top-nav,
    .brand,
    .map {
      top: $wp-admin-nav-height-desktop;
    }
  }
}