html, body { 
  height: 100%; 
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-family-heading;
}

.map {
  position: fixed !important;
  top: $header-height;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.nav-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: $nav-height-mobile;
  background: $white;
  overflow-x: scroll;
  overflow-y: hidden;
  z-index: 2;
  box-shadow: $big-shadow;

  .header {
    background: $white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $header-height;
  }

  .brand {
    position: fixed;
    top: 0;
    left: $nav-width-desktop;
    right: 0;
    height: $header-height;
    background: $brand-gradient;
    align-items: center;
    box-shadow: $big-shadow;

    .brand-share {
      margin-right: auto;
      margin-left: 1.5rem;
    }

    .brand-logo {
      display: flex;
      align-items: center;
      background: $white;
      width: 200px;
      height: $header-height;
      padding: 0 1rem;

      img {
        width: 100%;
      }
    }
  }
}

.content {
  position: relative;
  z-index: 1;
  margin-top: $header-height + 40px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: $nav-height-mobile + 40px;

  .container {
    background: $white;
    height: 2000px;
    padding: 1.5rem;
    transition: margin 700ms;
    box-shadow: $big-shadow;
    border-radius: $border-radius;
    overflow: hidden;
  } 
}

.admin-bar {
  .header {
    top: 46px;
  }
}

.gm-bundled-control {
  z-index: 100;
}

@include media-breakpoint-up(lg) {
  .map {
    left: $nav-width-desktop;
  }

  .frontpage .map {
    left: 0;
  }

  .nav-menu {
    top: $header-height;
    width: $nav-width-desktop;
    right: auto;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;

    .header {
      width: $nav-width-desktop;
    } 
  }

  .content {
    margin-top: $header-height + 80px;
    margin-left: $nav-width-desktop + 80px;
    margin-right: 80px;
    margin-bottom: 80px;

    .container {
      max-width: 900px;
      margin-left: auto;
      margin-right: auto;
      padding: 2rem;
    }
  }

  .admin-bar {
    .header,
    .brand {
      top: 32px;
    }
  
    .map,
    .nav-menu {
      top: $header-height + 32px;
    }
  }
}