.nav-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: $nav-height-mobile;
  background: $white;
  overflow-x: scroll;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
  z-index: 10;
  box-shadow: $big-shadow;

  .header {
    background: $white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $header-height;
  }
}

.menu {
	ul,
	li {
		display: flex;
		list-style: none;
		margin: 0 0.5rem;
		padding: 0;
		align-items: center;
	}

	ul {
		height: $nav-height-mobile;
	}
}

.brand {
  .brand-share {
    position: fixed;
    top: 0;
    left: $nav-width-desktop;
    height: $header-height;
    z-index: 30;  
    display: flex;
    align-items: flex-end;
    height: $header-height;
    padding-left: 1.5rem;
  }

  .brand-logo {
    position: fixed;
    top: 0;
    right: 0;
    height: $header-height;
    z-index: 30;  
    display: flex;
    align-items: center;
    background: $white;
    width: 200px;
    height: $header-height;
    padding: 0 1rem;
    box-shadow: $big-shadow;

    img {
      width: 100%;
    }
  }

  &:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: $brand-gradient;
    z-index: 20;
  }
}

.admin-bar .brand-logo,
.admin-bar .brand-share,
.admin-bar .brand:before {
  top: $wp-admin-nav-height-mobile;
}

@include media-breakpoint-up(lg) {
  .nav-menu {
    top: 0;
    width: $nav-width-desktop;
    right: auto;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;

    .header {
      position: static;
			height: auto;
			
			.site-name {
				display: block;
				text-indent: -9999px;
				background-image: url('images/logo.png');
				background-repeat: no-repeat;
				background-position: center;
				background-size: 60%;
				height: $logo-height-desktop;
			}	
    }

    .menu {
      position: fixed;
      top: $logo-height-desktop;
      left: 0;
      bottom: 0;
			width: $nav-width-desktop;
      overflow-x: hidden;
      overflow-y: scroll;
			border-top: 3cpx $gray-100 solid;
			
			ul {
				flex-direction: column;
				margin: 0.5rem 1rem;
				height: auto;
			}
	
			li {
				width: 100%;
				margin: 0.5rem;
			}
	
			a {
				width: 100%;
			}
    }
  }

  .admin-bar .brand-logo,
  .admin-bar .brand-share,
  .admin-bar .brand:before {
    top: $wp-admin-nav-height-desktop;
  }
}