.nav-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: $nav-height-mobile;
  background: $white;
  overflow-x: scroll;
  overflow-y: hidden;
  z-index: 10;
  box-shadow: $big-shadow;

  .header {
    background: $white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $header-height;
  }
}

.menu {
	ul,
	li {
		display: flex;
		list-style: none;
		margin: 0 0.5rem;
		padding: 0;
		align-items: center;
	}

	ul {
		height: $nav-height-mobile;
	}

	a {
		display: block;
		background: $gray-100;
		padding: 1rem;
		border-radius: $border-radius;
		font-family: $font-family-heading;
		font-size: 1.25rem;
		border: 3px $gray-300 solid;
		transition: 0.25s ease-in-out;

		&:hover {
			background: $gray-200;
			border: 3px $gray-500 solid;
			text-decoration: none;
			transform: translateY(-2px);
			box-shadow: $raised-shadow;
		}
	}
}

.brand {
  position: fixed;
  top: 0;
  left: $nav-width-desktop;
  right: 0;
  height: $header-height;
  background: $brand-gradient;
  align-items: center;
  box-shadow: $big-shadow;
	z-index: 5;

  .brand-share {
    margin-right: auto;
    margin-left: 1.5rem;
  }

  .brand-logo {
    display: flex;
    align-items: center;
    background: $white;
    width: 200px;
    height: $header-height;
    padding: 0 1rem;

    img {
      width: 100%;
    }
  }
}

@include media-breakpoint-up(lg) {
  .nav-menu {
    top: 0;
    width: $nav-width-desktop;
    right: auto;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;

    .header {
      position: static;
			height: auto;
			
			.site-name {
				display: block;
				text-indent: -9999px;
				background-image: url('images/logo.png');
				background-repeat: no-repeat;
				background-position: center;
				background-size: 60%;
				height: $logo-height-desktop;
			}	
    }

    .menu {
      position: fixed;
      top: $logo-height-desktop;
      left: 0;
      bottom: 0;
			width: $nav-width-desktop;
      overflow-x: hidden;
      overflow-y: scroll;
			border-top: 2px $gray-100 solid;
			
			ul {
				flex-direction: column;
				margin: 0.5rem 1rem;
				height: auto;
			}
	
			li {
				width: 100%;
				margin: 0.5rem;
			}
	
			a {
				width: 100%;
			}
    }
  }
}