.header-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: $nav-height-mobile;
  background: $white;
  overflow-x: scroll;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
  z-index: 10;
  box-shadow: $big-shadow;

  .header {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $header-height;
    background: $orange;
    background: $brand-gradient;
    box-shadow: $big-shadow;

    .hamburger {
      margin-left: 1rem;
      padding: 0;
      border: 0;
    }

    .site-name {
      font-family: $font-family-heading;
      text-transform: uppercase;
      margin-left: 1rem;
      font-size: 1.4rem; 
      color: $white;
    }

    .secondary-menu {
      display: none;

      &.secondary-menu-visible {
        display: block !important;
        position: fixed;
        top: $nav-height-mobile + 1px;
        left: 0;
        right: 0;
        background: $black;
        background: rgba(0, 0, 0, 0.5);

        ul {
          margin: 2rem;
          padding: 0;
          text-align: center;
        }

        li {
          list-style: none;
          border-bottom: 2px $gray-500 solid;
          border-bottom: 2px rgba(255, 255, 255, 0.25) solid;

          &:last-child {
            border-bottom: 0;
          }
        }

        a {
          display: block;
          color: $white;
          font-size: 1.5rem;
          padding: 0.75rem;
        }
      }
    }
  }
}

.menu {
	ul,
	li {
		display: flex;
		list-style: none;
		margin: 0 0.5rem;
		padding: 0;
		align-items: center;
	}

	ul {
		height: $nav-height-mobile;
  }
  
  li:last-child {
    padding-right: 1rem;
  }
}

.brand {
  display: flex;

  &-share {
    display: none;
    position: fixed;
    top: 0;
    left: $nav-width-desktop;
    height: $header-height;
    z-index: 30;  
    align-items: flex-end;
    height: $header-height;
    padding-left: 1.5rem;
  }

  &-logo {
    position: fixed;
    top: 0;
    right: 0;
    height: $header-height;
    z-index: 30;  
    display: flex;
    align-items: center;
    background: $white;
    border-left: 1px $gray-300 solid;
    width: 63px;
    height: $header-height;
    padding: 0 1rem;
    transition: 0.15s ease-in-out;

    a {
      display: block;
      overflow: hidden;
      width: 35px;
    }

    img {
      height: calc(#{$header-height} - 1rem);
    }
  }
}

.share-buttons-facebook,
.share-buttons-twitter {
  height: 28px;
  border: none;
  overflow: hidden;
}

.admin-bar {
  .brand-logo,
  .brand-share,
  .brand:before,
  .header {
    top: $wp-admin-nav-height-mobile;
  }
}

@include media-breakpoint-up(lg) {
  .header-wrapper {
    top: 0;
    width: $nav-width-desktop;
    right: auto;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;

    .header {
      position: static;
      height: auto;
      background: $white;
      box-shadow: none;
      flex-direction: column;

      .hamburger {
        display: none;
      }

      .site-name {
        display: block;
        text-indent: -9999px;
        background-image: url('images/logo.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 65%;
        width: 100%;
        height: $logo-height-desktop - 30;
        margin-left: 0;
      }
      
      .secondary-menu {
        display: block;
        height: 30px;
        width: 100%;
        padding: 0 1rem;
        border-top: 1px $gray-200 solid;

        ul {
          height: 30px;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          padding: 0;
          margin: 0;
        }

        li {
          list-style: none;
        }

        a {
          color: $gray-600;
          border: 1px transparent solid;

          &:hover {
            color: $link-color;
          }

          &:active {
            border: 1px $gray-700 solid;
            text-decoration: none;
          }

          &.router-link-active {
            font-weight: bold;
          }
        }
      }
    }

    .menu {
      position: fixed;
      top: $logo-height-desktop;
      left: 0;
      bottom: 0;
			width: $nav-width-desktop;
      overflow-x: hidden;
      overflow-y: scroll;
			border-top: 2px $gray-200 solid;
			
			ul {
				flex-direction: column;
				margin: 0.5rem 1rem;
				height: auto;
			}
	
			li {
				width: 100%;
        margin: 0.5rem;
        
        &:last-child {
          padding-right: 0;
        }
			}
	
			a {
				width: 100%;
			}
    }
  }

  .brand {
    &-share {
      display: flex;
    }

    &-logo {
      width: 190px;
      box-shadow: $big-shadow;
      border-left: 0;

      a {
        width: 100%;
      }

      img {
        height: auto;
        width: 100%;
      }

      &:hover {
        box-shadow: $raised-shadow;
      }
    }

    &:before {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 10px;
      background: $brand-gradient;
      z-index: 20;
    }
  }
  
  .admin-bar {
    .brand-logo,
    .brand-share,
    .brand:before {
      top: $wp-admin-nav-height-desktop;
    }

    .menu {
      top: $logo-height-desktop + $wp-admin-nav-height-desktop;
    }
  }
}