.map {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.gm-bundled-control {
  z-index: 100;
}

.map-background {
  opacity: 0.5;
}

.page .map-default {
  opacity: 0;
}

.map-decorations {
  .map-decoration {
    position: fixed;
    z-index: -1;
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
  }

  .map-bird {
    display: none;
    top: 130px;
    left: $nav-width-desktop + -150px;
    height: 200px;
    width: 290px;
    transform: scale(0.75) rotate(18deg);

    svg {
      position: relative;
      top: -150px;
      width: 347px;
      left: -21px;
    }
  }

  .map-palmtree {
    bottom: 30px;
    left: -100px;
    height: 266px;
    width: 290px;
    transform: scale(0.5);

    svg {
      position: relative;
      top: -92px;
      left: -24px;
      width: 349px;
    }
  }

  .map-micalet {
    bottom: -10px;
    right: -116px;
    height: 358px;
    width: 207px;
    transform: scale(0.5);

    svg {
      position: relative;
      left: -100px;
      width: 330px;
      top: -52px;
    }
  }

  .map-wave {
    display: none;
    top: 22px;
    right: -22px;
    height: 302px;
    width: 89px;

    svg {
      position: relative;
      width: 291px;
      left: -107px;
      top: -56px;
    }
  }
}

.frontpage {
  .map-decorations {
    display: none;
  }
}

@include media-breakpoint-up(lg) {
  .map-decorations {
    .map-bird {
      display: block;

      &:hover {
        transform: scale(0.75) rotate(0deg);
      }
    }

    .map-palmtree {
      bottom: -50px;
      left: $nav-width-desktop + -100px;
      transform: scale(1);

      &:hover {
        transform: translateY(-20px) rotate(2deg);
      }
    }

    .map-micalet {
      bottom: -90px;
      transform: scale(1);

      &:hover {
        transform: translateY(-20px) rotate(-2deg);
      }
    }

    .map-wave {
      display: block;

      &:hover {
        transform: translateY(10px);
      }
    }
  }

  .frontpage {
    .map-decorations {
      display: block;

      .map-bird {
        left: -150px;
      }
    
      .map-palmtree {
        left: -80px;
      }
    }
  }
}

@media (max-height: 800px) {
  .map-decorations {
    .map-wave {
      display: none;
    }
  }
}