.map {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.gm-bundled-control {
  z-index: 100;
}

.map-background {
  opacity: 0.5;
}

.page .map-default {
  opacity: 0;
}

.map-decorations {
  .map-decoration {
    position: fixed;
    z-index: -1;
    transition: transform 0.5s ease-in-out;
  }

  .map-bird {
    display: none;
    top: 130px;
    left: $nav-width-desktop + -150px;
    height: 200px;
    width: 290px;
    background-image: url('images/icons/icon-bird-positive.svg');
    background-position: -27px -155px;
    background-size: 123%;
    transform: scale(0.75) rotate(18deg);
  }

  .map-palmtree {
    bottom: 30px;
    left: -100px;
    height: 266px;
    width: 290px;
    background-image: url('images/icons/icon-palmtree.svg');
    background-position: -28px -96px;
    background-size: 123%;
    transform: scale(0.5);
  }

  .map-micalet {
    bottom: -10px;
    right: -116px;
    height: 358px;
    width: 207px;
    background-image: url('images/icons/icon-micalet.svg');
    background-position: -102px -53px;
    background-size: 161%;
    transform: scale(0.5);
  }

  .map-wave {
    display: none;
    top: 22px;
    right: -22px;
    height: 302px;
    width: 89px;
    background-image: url('images/icons/icon-wave.svg');
    background-position: -107px -55px;
    background-size: 327%;
  }
}

.frontpage {
  .map-decorations {
    display: none;
  }
}

@include media-breakpoint-up(lg) {
  .map-decorations {
    .map-bird {
      display: block;

      &:hover {
        transform: scale(0.75) rotate(0deg);
      }
    }

    .map-palmtree {
      bottom: -50px;
      left: $nav-width-desktop + -100px;
      transform: scale(1);

      &:hover {
        transform: translateY(-20px) rotate(2deg);
      }
    }

    .map-micalet {
      bottom: -90px;
      transform: scale(1);

      &:hover {
        transform: translateY(-20px) rotate(-2deg);
      }
    }

    .map-wave {
      display: block;

      &:hover {
        transform: translateY(10px);
      }
    }
  }

  .frontpage {
    .map-decorations {
      display: block;

      .map-bird {
        left: -150px;
      }
    
      .map-palmtree {
        left: -80px;
      }
    }
  }
}

@media (max-height: 800px) {
  .map-decorations {
    .map-wave {
      display: none;
    }
  }
}