.page-title {
	font-size: 2rem;
	text-transform: uppercase;
}

.page.has-map {
	margin-top: 60vh;
}

.band {
	background: $secondary;
	height: 10px;
	margin: -1.5rem -1.5rem 1.5rem -1.5rem;
}

.map h3 {
	font-family: $font-family-sans-serif;
	font-size: 1.5rem;
}

@include media-breakpoint-up(lg) {
	.band {
		margin: -2rem -2rem 2rem -2rem;
	}

	.page.has-map {
		margin-top: 80vh;
	}

	.page-content-wrapper {
		display: flex;
		flex-direction: column;
	
		.siblings {
			order: 1;
		}
	
		.page-content {
			order: 2;
		}
	
		.children {
			order: 3;
		}
	}}