/* Colors */
$blue:       #1380B4;
$indigo:     #6610f2;
$purple:     #5B5896;
$pink:       #e83e8c;
$red:        #dc3545;
$orange:     #da6c38;
$yellow:     #ffc107;
$green:      #87B446;
$teal:       #20c997;
$cyan:       #17a2b8;

/* Grays */
$gray-100:   #f8f9fa;
$gray-200:   #e9ecef;
$gray-300:   #dee2e6;
$gray-400:   #ced4da;
$gray-500:   #adb5bd;
$gray-600:   #6c757d;
$gray-700:   #495057;
$gray-800:   #343a40;
$gray-900:   #212529;
$black:      #000;
$white:      #fff;

/* Typography */
$font-family-sans-serif: 'Compromis', sans-serif;
$font-family-heading: 'Concert One', sans-serif;

/* Semantic colors */
$body-bg:    $white;
$primary:    $orange;
$link-color: $primary;
$secondary:  $gray-600;

/* Shadows */
$default-shadow: 0 0 35px rgba(50,50,93,.1), 0 0 15px rgba(0,0,0,.07);
$big-shadow: 0 0 60px rgba(50,50,93,.15), 0 0 25px rgba(0,0,0,.1);
$raised-shadow: 0 7px 14px -3px rgba(50,50,93,.1), 0 3px 6px -3px rgba(0,0,0,.08);

/* Border radii */
$border-radius: 0.5rem;
$rounder-border-radius: $border-radius + 0.25rem;

/* Gradients */
$gradient-from: #D4432F;
$gradient-to: #E28333;
$brand-gradient: linear-gradient(135deg, $gradient-from 0%, $gradient-to 100%);

/* Categories */
$categories: (
	'sostenibilitat': $green,
	'jazz': $yellow
);

/* Dimensions */
$nav-width-desktop: 300px;
$nav-height-mobile: 100px;
$top-nav-height-desktop: 350px;
$top-nav-height-mobile: 55px;
$wp-admin-nav-height-desktop: 32px;
$wp-admin-nav-height-mobile: 46px;