$blue:       #007bff;
$indigo:     #6610f2;
$purple:     #6f42c1;
$pink:       #e83e8c;
$red:        #dc3545;
$orange:     #fd7e14;
$yellow:     #ffc107;
$green:      #87B446;
$teal:       #20c997;
$cyan:       #17a2b8;
$gray-100:   #f8f9fa;
$gray-200:   #e9ecef;
$gray-300:   #dee2e6;
$gray-400:   #ced4da;
$gray-500:   #adb5bd;
$gray-600:   #6c757d;
$gray-700:   #495057;
$gray-800:   #343a40;
$gray-900:   #212529;
$black:      #000;
$white:      #fff;
$primary:    $orange;
$secondary:  $gray-600;
$gradient-from: #D4432F;
$gradient-to: #E28333;
$body-bg:    $white;
$link-color: $primary;
$font-family-sans-serif: 'Compromis', sans-serif;
$font-family-heading: 'Multicolore', sans-serif;
$nav-width-desktop: 350px;
$nav-height-mobile: 100px;
$logo-height-desktop: 400px;
$header-height: 50px;
$big-shadow: 0 0 35px rgba(50,50,93,.1), 0 0 15px rgba(0,0,0,.07);
$raised-shadow: 0 7px 14px -3px rgba(50,50,93,.1), 0 3px 6px -3px rgba(0,0,0,.08);
$border-radius: 0.5rem;
$rounder-border-radius: $border-radius + 0.25rem;
$brand-gradient: linear-gradient(135deg, $gradient-from 0%, $gradient-to 100%);
$orange-gradient: linear-gradient(135deg, #fb8261 0%, #ffc960 100%);
$green-gradient: linear-gradient(135deg, #A8B75B 0%, #739C53 100%);

$categories: (
	'sostenibilitat': $green,
	'jazz': $orange
);