.sidebar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: $nav-height-mobile;
  height: calc($nav-height-mobile + env(safe-area-inset-bottom));
  background: $white;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  z-index: 10;
  box-shadow: $default-shadow;
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
}

.top-nav {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 15;
  height: $top-nav-height-mobile;
  background: $orange;
  background: $brand-gradient;
  box-shadow: $default-shadow;

  .hamburger {
    margin-left: 1rem;
    margin-left: calc(1rem + env(safe-area-inset-left));
    padding: 0;
    border: 0;
  }

  .site-name {
    font-family: $font-family-heading;
    text-transform: uppercase;
    margin-left: 1rem;
    font-size: 1.4rem; 
    color: $white;
  }

  .secondary-menu {
    display: none;
    position: fixed;
    top: $top-nav-height-mobile;
    left: 0;
    right: 0;
    background: $black;
    background: rgba(0, 0, 0, 0.5);

    ul {
      margin: 2rem;
      padding: 0;
      text-align: center;
    }

    li {
      list-style: none;
      border-bottom: 2px $gray-500 solid;
      border-bottom: 2px rgba(255, 255, 255, 0.25) solid;

      &:last-child {
        border-bottom: 0;
      }
    }

    a {
      display: block;
      color: $white;
      font-size: 1.5rem;
      padding: 0.75rem;
    }

    &.secondary-menu-visible {
      display: block;
    }
  }
}

.menu {
  ul,
  li {
    display: flex;
    list-style: none;
    margin: 0 0.5rem;
    padding: 0;
    align-items: center;
  }

  ul {
    height: $nav-height-mobile;
  }
  
  li:last-child {
    padding-right: 1rem;
  }

  .category a.category-button {
    width: 210px;
    font-size: 1.15rem;
    padding: 0.5rem 1rem;
    line-height: 1;
    padding-right: 5rem;
    border: 0;
    height: 80px;
  }
}

.brand {
  display: flex;

  &-share {
    display: none;
    position: fixed;
    top: 0;
    left: $nav-width-desktop;
    height: $top-nav-height-mobile;
    z-index: 30;  
    align-items: flex-end;
    height: $top-nav-height-mobile;
    padding-left: 1.5rem;
  }

  &-logo {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 30;  
    display: flex;
    align-items: center;
    background: $white;
    width: 63px;
    width: calc(63px + env(safe-area-inset-right));
    height: $top-nav-height-mobile;
    padding-left: 1rem;
    padding-right: env(safe-area-inset-right);
    transition: 0.15s ease-in-out;

    a {
      display: block;
      overflow: hidden;
      width: 35px;
      margin-right: 1rem;
    }

    img {
      height: $top-nav-height-mobile - 16px;
    }
  }
}

.share-buttons-facebook,
.share-buttons-twitter {
  height: 28px;
  border: none;
  overflow: hidden;
}

.admin-bar {
  .brand-logo,
  .brand-share,
  .brand:before,
  .top-nav {
    top: $wp-admin-nav-height-mobile;
  }

  .secondary-menu {
    top: $wp-admin-nav-height-mobile + $top-nav-height-mobile;
  }
}

@include media-breakpoint-up(lg) {
  .sidebar {
    top: 0;
    width: $nav-width-desktop;
    right: auto;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    scroll-behavior: smooth;

    .menu {
      scroll-behavior: smooth;
      position: fixed;
      top: $top-nav-height-desktop;
      left: 0;
      bottom: 0;
      width: $nav-width-desktop;
      overflow-x: hidden;
      overflow-y: scroll;
      border-top: 2px $gray-200 solid;
      
      ul {
        flex-direction: column;
        margin: 0.5rem 1rem;
        height: auto;
      }
  
      li {
        width: 100%;
        margin: 0.5rem;
        
        &:last-child {
          padding-right: 0;
        }
      }
  
      a {
        width: 100%;
      }
      
      .category a.category-button {
        width: 100%;
        font-size: 1.75rem;
        line-height: 1.25;
        padding: 1rem;
        padding-right: 5rem;
        border: 0;
        height: auto;
      }
    }
  }

  .top-nav {
    position: fixed;
    z-index: 15;
    left: 0;
    top: 0;
    height: $top-nav-height-desktop;
    width: $nav-width-desktop;
    background: $white;
    box-shadow: none;
    flex-direction: column;

    .hamburger {
      display: none;
    }

    .site-name {
      display: block;
      text-indent: -9999px;
      background-image: url('../images/logo.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 65%;
      width: 100%;
      height: $top-nav-height-desktop - 40;
      margin-left: 0;
    }
    
    .secondary-menu {
      display: block;
      height: 2.5rem;
      width: 100%;
      padding: 0 1rem;
      border-top: 1px $gray-200 solid;
      position: static;
      background: transparent;

      ul {
        height: 2.5rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 0;
        margin: 0;
      }

      li {
        list-style: none;
      }

      a {
        font-size: 1rem;
        color: $gray-600;
        padding: 2px 4px;

        &:hover {
          color: $link-color;
        }

        &:active {
          background: $gray-200;
          text-decoration: none;
        }

        &.router-link-active {
          font-weight: bold;
        }
      }

      &.secondary-menu-visible {
        display: block !important;
      }
    }
  }

  .brand {
    &-share {
      display: flex;
    }

    &-logo {
      width: 190px;
      box-shadow: $default-shadow;
      border-left: 0;
      border-radius: 0 0 0 $border-radius;

      a {
        width: 100%;
        transition: 0.15s ease-in-out;
      }

      img {
        height: auto;
        width: 100%;
      }

      &:hover {
        box-shadow: $big-shadow;
        height: $top-nav-height-mobile + 7px;

        a {
          padding-top: 7px;
        }
      }

      &:active {
        opacity: 0.8;
      }
    }

    &:before {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 10px;
      background: $brand-gradient;
      z-index: 20;
    }
  }
  
  .admin-bar {
    .brand-logo,
    .brand-share,
    .brand:before {
      top: $wp-admin-nav-height-desktop;
    }

    .menu {
      top: $top-nav-height-desktop + $wp-admin-nav-height-desktop;
    }
  }
}