.post-summary {
  position: relative;
  display: flex;
  flex-direction: column;

  &-content {
    width: 100%;
  }

  .post-title {
    line-height: 1.25;
    font-size: 1.5rem;

    a {
      display: block;
      color: transparent;
      background: $primary;
      background: $brand-gradient;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .post-thumbnail {
    margin: -1.5rem -1.5rem 1.5rem -1.5rem;
    border-bottom: 10px $secondary solid;
    height: 175px;
    overflow: hidden;
    background-size: cover;
    background-position: center;

    img {
      margin-top: -30px;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;

    .post-meta {
      order: -1;
    }

    .post-read-more {
      text-align: right;
      margin: 0 -2rem -1.5rem 0;
      font-size: 0.75rem;

      a {
        border-radius: $border-radius 0 0 0;
      }
    }
  }
}

.post-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.posts .band {
  display: none;
}

.post-map {
  width: 100%;
  height: 100%;
}

.post-fields {
  ul {
    padding: 0;
    margin: 1rem 0;
    border-top: 1px $gray-200 solid;
  }

  li {
    display: flex;
    list-style: none;
    border-bottom: 1px $gray-200 solid;
    padding: 0.5rem 0;
  }

  .fa-fw {
    margin-right: 0.5rem;
  }
}

.post-excerpt {
  display: none;
}

.post-meta {
  font-family: $font-family-heading;
  text-transform: uppercase;
  color: $gray-500;
  border-bottom: 1px $gray-200 solid;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;

  a {
    color: $gray-500;

    &:hover {
      color: $gray-700;
      background: $gray-100;
    }
  }
}

.pagination {
  display: flex;
  max-width: 900px;
  margin: 0 auto;
  justify-content: space-between;
  border-top: 2px $gray-500 solid;
  padding: 2rem 0;
  margin-top: 4rem;
  border-radius: 0;

  li {
    list-style: none;
  }
}

.post-full {
  .post-title {
    font-size: 2rem;
    line-height: 1;
  }

  .post-meta {
    .date {
      float: right;
    }
  }

  .post-map {
    height: 200px;
  }

  .post-image  {
    margin: 1.5rem -2rem;
    max-height: 400px;
    overflow: hidden;

    img {
      margin-top: -50px;
      width: 100%;
    }
  }

  .post-content {
    line-height: 2;
  }

  .tag-list,
  .cat-list {
    a {
      display: inline-block;
      font-size: 1rem;
      background: $gray-200;
      padding: 0.25rem 1rem;
      margin: 0.25rem 1rem 0.25rem 0;
      border-radius: 3rem;
      white-space: nowrap;

      &:hover {
        background: $primary;
        background: $brand-gradient;
        color: $white;
        text-decoration: none;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .post-summary {
    flex-direction: row;
    align-items: stretch;

    .post-title {
      font-size: 2rem;
    }

    .post-thumbnail {
      width: 300px;
      height: auto;
      overflow: hidden;
      flex-shrink: 0;
      margin: -1.5rem 1.5rem -1.5rem -2rem;
      border-bottom: 0;

      img {
        width: 100%;
        margin-top: 0;
      }
    }

    .post-excerpt {
      display: block;
      color: $gray-600;
    }

    .post-read-more {
      font-size: 1rem;
    }
  }

  .posts .band {
    display: block;
  }

  .post-full {
    .post-title {
      font-size: 3rem;
    }
  }

  .pagination {
    a {
      font-size: 1.25rem;
    }
  }
}