/* Colors */
$colors: (
  'green': (
    '100': #D4DEAF,
    '200': #A7BD61,
    '300': #4D804C,
    '400': #375937,
    '500': #2E482D,
  ),
  'red': (
    '100': #F1CAC6,
    '200': #DD938E,
    '300': #E05633,
    '400': #B93526,
    '500': #93211E,
  ),
  'blue': (
    '100': #C2DEEA,
    '200': #5AB9D2,
    '300': #147FBC,
    '400': #12688F,
    '500': #0D5067,
  ),
  'orange': (
    '100': #F2E6D6,
    '200': #EABE96,
    '300': #DE7326,
    '400': #B55A27,
    '500': #893D1E,
  ),
  'purple': (
    '100': #C9C8E4,
    '200': #9B9BC8,
    '300': #5C59A6,
    '400': #30337B,
    '500': #2C2D66,
  )
);

/* Grays */
$gray-100:   #f8f9fa;
$gray-200:   #e9ecef;
$gray-300:   #dee2e6;
$gray-400:   #ced4da;
$gray-500:   #adb5bd;
$gray-600:   #6c757d;
$gray-700:   #495057;
$gray-800:   #343a40;
$gray-900:   #212529;
$black:      #000;
$white:      #fff;

/* Typography */
$font-family-sans-serif: 'Compromis', sans-serif;
$font-family-heading: 'Concert One', sans-serif;

/* Semantic colors */
$body-bg:    $white;
$primary:    map-get(map-get($colors, 'orange'), '300');
$link-color: $primary;
$secondary:  $gray-600;

/* Shadows */
$default-shadow: 0 0 35px rgba(50,50,93,.1), 0 0 15px rgba(0,0,0,.07);
$big-shadow: 0 0 60px rgba(50,50,93,.15), 0 0 25px rgba(0,0,0,.1);
$raised-shadow: 0 7px 14px -3px rgba(50,50,93,.1), 0 3px 6px -3px rgba(0,0,0,.08);
$big-raised-shadow: 0 10px 35px rgba(0,0,0,.1);

/* Border radii */
$border-radius: 0.5rem;
$rounder-border-radius: $border-radius + 0.25rem;

/* Gradients */
$gradient-from: #D4432F;
$gradient-to: #E28333;
$brand-gradient: linear-gradient(135deg, $gradient-from 0%, $gradient-to 100%);

/* Dimensions */
$nav-width-desktop: 300px;
$nav-height-mobile: 100px;
$top-nav-height-desktop: 350px;
$top-nav-height-mobile: 55px;
$wp-admin-nav-height-desktop: 32px;
$wp-admin-nav-height-mobile: 46px;

/* Categories */
$categories: (
  'sostenible': 'green',
  'persones': 'red',
  'barris': 'blue',
  'cultural': 'orange',
  'participativa': 'purple'
);