{
  "extends": [
    "eslint:recommended",
    "plugin:vue/recommended"
  ],
  "env": {
    "browser": true
  },
  "plugins": [
    "html"
  ],
  "settings": {
    "html/html-extensions": [".html", ".vue" ]
  },
  "globals": {
    "_": false,
    "Backbone": false,
    "jQuery": false,
    "wp": false,
    "__dirname": true,
    "rtwp": true
  },
  "parser": "babel-eslint",
  "rules": {
    "indent": ["error", 2, {
      "MemberExpression": "off"
    }]
  }
}